@charset "UTF-8";

/* ============================================
   CUSTOM FONTS
   ============================================ */

@font-face {
  font-family: 'Recoleta';
  src: url('$assets-recoleta-regular-woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Recoleta';
  src: url('$assets-recoleta-medium-woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'Recoleta';
  src: url('$assets-recoleta-semibold-woff2');
  font-weight: 800;
}

@font-face {
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 300;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-Light.ttf");
}

@font-face {
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-Regular.ttf");
}

@font-face {
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 500;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-Medium.ttf");
}

@font-face {
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 600;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-SemiBold.ttf");
}

@font-face {
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 700;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-Bold.ttf");
}

@font-face {
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 900;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-Heavy.ttf");
}

/* ============================================
   NORMALIZE.CSS
   ============================================ */

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
  padding-bottom: 40px;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 0.95em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/* ============================================
   BASE STYLES
   ============================================ */

* {
  box-sizing: border-box;
}

body {
  background-color: $background_color;
  color: $text_color;
  font-family: 'SF Pro';
  font-size: 15px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 1024px) {
  body > main {
    min-height: 65vh;
  }
}

.top-stroke {
  border-top: 4px solid #DFAD53;
}

.container {
  max-width: 1208px;
  margin: 0 auto;
  padding: 0 24px;
}

@media (min-width: 1160px) {
  .container {
    max-width: 1208px;
    padding: 0 24px;
    width: 100%;
  }
}

.container-divider {
  border-bottom: 4px solid #DFAD53;
  margin-bottom: 32px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.error-page {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 5%;
}

@media (min-width: 1160px) {
  .error-page {
    padding: 0;
    width: 90%;
  }
}

.visibility-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.spacer {
  margin-bottom: 24px;
}

/* ============================================
   TYPOGRAPHY
   ============================================ */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Recoleta';
  font-weight: 500;
  margin-top: 0;
}

h1 {
  font-size: clamp(2.25rem, 6vw, 3.5rem);
  font-weight: 600;
  line-height: 1.2;
}

h2 {
  font-size: clamp(1.6rem, 4vw, 2rem);
  font-weight: 600;
  line-height: 1.2;
}

h3 {
  font-size: clamp(1.2rem, 4vw, 1.3rem);
  font-weight: 600;
  line-height: 1.2;
}

h4 {
  font-size: clamp(1rem, 4vw, 1.1rem);
  font-weight: 600;
  line-height: 1.2;
}

@media (min-width: 1024px) {
  h1,
  h2 {
    line-height: 1.3;
  }

  h3,
  h4 {
    line-height: 1.2;
  }
}

a {
  color: $link_color;
  text-decoration: underline;
}

a:visited {
  color: $visited_link_color;
}

a:hover,
a:active,
a:focus {
  text-decoration: none;
}

/* ============================================
   BUTTONS
   ============================================ */

.button,
.pagination-next-link,
.pagination-prev-link,
.pagination-first-link,
.pagination-last-link,
.subscriptions-subscribe button,
.requests-table-toolbar .organization-subscribe button,
.community-follow button,
.article-subscribe button,
.section-subscribe button,
.split-button button {
  background-color: #000;
  border: none;
  border-radius: 4px;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'Recoleta';
  font-weight: 600;
  font-size: clamp(1rem, 4vw, 1.1rem);
  line-height: 2.34;
  letter-spacing: 0.02rem;
  margin: 0;
  padding: 0 40px;
  text-align: center;
  transition: outline-width 0.15s ease-in-out, border-color 0.12s ease-in-out, color 0.15s ease-in-out;
  user-select: none;
  white-space: nowrap;
  width: 100%;
  -webkit-touch-callout: none;
}

@media (min-width: 768px) {
  .button,
  .pagination-next-link,
  .pagination-prev-link,
  .pagination-first-link,
  .pagination-last-link,
  .subscriptions-subscribe button,
  .requests-table-toolbar .organization-subscribe button,
  .community-follow button,
  .article-subscribe button,
  .section-subscribe button,
  .split-button button {
    width: auto;
  }
}

.button:visited,
.pagination-next-link:visited,
.pagination-prev-link:visited,
.pagination-first-link:visited,
.pagination-last-link:visited,
.subscriptions-subscribe button:visited,
.requests-table-toolbar .organization-subscribe button:visited,
.community-follow button:visited,
.article-subscribe button:visited,
.section-subscribe button:visited,
.split-button button:visited {
  color: $brand_color;
}

.button:hover,
.button:active,
.button:focus,
.button.button-primary,
.pagination-next-link:hover,
.pagination-prev-link:hover,
.pagination-first-link:hover,
.pagination-last-link:hover,
.subscriptions-subscribe button:hover,
.requests-table-toolbar .organization-subscribe button:hover,
.community-follow button:hover,
.article-subscribe button:hover,
.section-subscribe button:hover,
.split-button button:hover,
.subscriptions-subscribe button[data-selected=true],
.requests-table-toolbar .organization-subscribe button[data-selected=true],
.article-subscribe button[data-selected=true],
.section-subscribe button[data-selected=true] {
  background-color: $brand_color;
  color: $brand_text_color;
  text-decoration: underline;
  outline: 2px solid #BD96CE;
}

.button.button-primary:hover,
.button.button-primary:focus,
.button.button-primary:active {
  background-color: darken($brand_color, 20%);
  border-color: darken($brand_color, 20%);
}

.button[data-disabled],
.subscriptions-subscribe button[data-disabled],
.requests-table-toolbar .organization-subscribe button[data-disabled],
.community-follow button[data-disabled],
.article-subscribe button[data-disabled],
.section-subscribe button[data-disabled],
.split-button button[data-disabled] {
  cursor: default;
}

.button-large,
.hbs-form input[type=submit] {
  cursor: pointer;
  background-color: $brand_color;
  border: 0;
  border-radius: 4px;
  color: $brand_text_color;
  font-size: 14px;
  line-height: 2.72;
  min-width: 190px;
  padding: 0 1.9286em;
  width: 100%;
}

@media (min-width: 768px) {
  .button-large,
  .hbs-form input[type=submit] {
    width: auto;
  }
}

.button-large:visited,
.hbs-form input[type=submit]:visited {
  color: $brand_text_color;
}

.button-large:hover,
.button-large:active,
.button-large:focus,
.hbs-form input[type=submit]:hover,
.hbs-form input[type=submit]:active,
.hbs-form input[type=submit]:focus {
  background-color: darken($brand_color, 20%);
}

.button-large[disabled],
.hbs-form input[type=submit][disabled] {
  background-color: #ddd;
}

.button-secondary {
  color: lighten($text_color, 20%);
  border: 1px solid #87929D;
  background-color: transparent;
}

.button-secondary:visited {
  color: lighten($text_color, 20%);
}

.button-secondary:hover,
.button-secondary:focus,
.button-secondary:active {
  color: $text_color;
  border: 1px solid #87929D;
  background-color: darken($background_color, 3%);
}

a.submit-a-request {
  background-color: #000;
  border: none;
  border-radius: 4px;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'Recoleta';
  font-weight: 600;
  font-size: clamp(1rem, 4vw, 1.1rem);
  line-height: 2.34;
  letter-spacing: 0.02rem;
  text-decoration: none;
  margin: 0;
  padding: 4px 24px;
  text-align: center;
  transition: outline-width 0.15s ease-in-out, border-color 0.12s ease-in-out, color 0.15s ease-in-out;
  user-select: none;
  white-space: nowrap;
  width: 100%;
  -webkit-touch-callout: none;
}

@media (min-width: 1024px) {
  a.submit-a-request {
    width: auto;
  }
}

a.submit-a-request:hover {
  background-color: #000;
  color: #FFF;
  text-decoration: underline;
  outline: 2px solid #BD96CE;
}

/* Split Button */
.split-button {
  display: flex;
}

.split-button button {
  background-color: $brand_color;
  border: 0;
  color: $brand_text_color;
  height: 32px;
  line-height: 16px;
  outline-color: $brand_color;
}

[dir=rtl] .split-button button:not(:only-child):first-child {
  border-left: 1px solid $brand_text_color;
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
}

[dir=ltr] .split-button button:not(:only-child):first-child {
  border-right: 1px solid $brand_text_color;
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
}

.split-button button:not(:only-child):last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  min-width: 26px;
  max-width: 26px;
  padding: 0;
}

[dir=rtl] .split-button button:not(:only-child):last-child {
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
}

[dir=ltr] .split-button button:not(:only-child):last-child {
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
}

/* ============================================
   FORMS
   ============================================ */

.hbs-form input,
.hbs-form textarea,
.search input,
.search textarea {
  color: #000;
  font-size: 14px;
}

.hbs-form input,
.search input {
  max-width: 100%;
  box-sizing: border-box;
  transition: border 0.12s ease-in-out;
}

.hbs-form input:where(:not([type=checkbox])),
.search input:where(:not([type=checkbox])) {
  outline: none;
}

.hbs-form input:where(:not([type=checkbox])):focus,
.search input:where(:not([type=checkbox])):focus {
  border: 1px solid $brand_color;
}

.hbs-form input[disabled],
.search input[disabled] {
  background-color: #ddd;
}

.hbs-form select,
.search select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='6' viewBox='0 0 10 6'%3E%3Cpath fill='%23CCC' d='M0 0h10L5 6 0 0z'/%3E%3C/svg%3E%0A") no-repeat #F6EFE7;
  background-position: right 10px center;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 8px 30px 8px 10px;
  outline: none;
  color: #000;
  width: 100%;
}

.hbs-form select:focus,
.search select:focus {
  outline: 2px solid #BD96CE;
  background-color: #EFE3F4;
}

.hbs-form select::-ms-expand,
.search select::-ms-expand {
  display: none;
}

.hbs-form textarea,
.search textarea {
  border: 1px solid #87929D;
  border-radius: 2px;
  resize: vertical;
  width: 100%;
  outline: none;
  padding: 10px;
}

.hbs-form textarea:focus,
.search textarea:focus {
  border: 1px solid $brand_color;
}

.form {
  max-width: 650px;
}

.form-field ~ .form-field {
  margin-top: 25px;
}

.form-field label {
  display: block;
  font-size: 13px;
  margin-bottom: 5px;
}

.form-field input {
  border: 1px solid #87929D;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
}

.form-field input:focus {
  border: 1px solid $brand_color;
}

.form-field input[type=text] {
  border: 1px solid #87929D;
  border-radius: 4px;
}

.form-field input[type=text]:focus {
  border: 1px solid $brand_color;
}

.form-field input[type=checkbox] {
  width: auto;
}

.form-field .nesty-input {
  border-radius: 4px;
  border: 1px solid #87929D;
  height: 40px;
  line-height: 40px;
  outline: none;
  vertical-align: middle;
}

.form-field .nesty-input:focus {
  border: 1px solid $brand_color;
  text-decoration: none;
}

.form-field .hc-multiselect-toggle {
  border: 1px solid #87929D;
}

.form-field .hc-multiselect-toggle:focus {
  outline: none;
  border: 1px solid $brand_color;
  text-decoration: none;
}

.form-field textarea {
  vertical-align: middle;
}

.form-field input[type=checkbox] + label {
  margin: 0 0 0 10px;
}

.form-field .optional {
  color: lighten($text_color, 20%);
  margin-left: 4px;
}

.form-field p {
  color: lighten($text_color, 20%);
  font-size: 12px;
  margin: 5px 0;
}

.form footer {
  margin-top: 40px;
  padding-top: 30px;
}

.form footer a {
  color: lighten($text_color, 20%);
  cursor: pointer;
  margin-right: 15px;
}

.form .suggestion-list {
  font-size: 13px;
  margin-top: 30px;
}

.form .suggestion-list label {
  border-bottom: 1px solid #ddd;
  display: block;
  padding-bottom: 5px;
}

.form .suggestion-list li {
  padding: 10px 0;
}

.form .suggestion-list li a:visited {
  color: $visited_link_color;
}

/* Modern Form Styling */
div[data-garden-id='forms.faux_input'] {
  color: #000;
  background-color: #F6EFE7;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 2px 4px;
  transition: outline-width 0.15s ease-in-out;
}

div[data-garden-id='forms.faux_input']:hover {
  color: #000;
  background-color: #F6EFE7;
  outline: 2px solid #BD96CE;
  outline-offset: 0px;
}

div[data-garden-id='forms.faux_input']:focus,
div[data-garden-id='forms.faux_input']:focus-within {
  color: #000;
  outline: 2px solid #BD96CE;
  outline-offset: 0px;
  background-color: #EFE3F4;
  box-shadow: none;
}

input[data-garden-id='forms.input'] {
  color: #000;
  background-color: #F6EFE7;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 8px 12px;
  transition: outline-width 0.15s ease-in-out;
}

input[data-garden-id='forms.input']:hover {
  color: #000;
  background-color: #F6EFE7;
  outline: 2px solid #BD96CE;
  outline-offset: 0px;
}

input[data-garden-id='forms.input']:focus {
  color: #000;
  outline: 2px solid #BD96CE;
  outline-offset: 0px;
  background-color: #EFE3F4;
  box-shadow: none;
}

div[data-garden-id='forms.faux_input'] > div > input[data-garden-id='forms.input'] {
  border: none;
  outline: none;
  background: none;
}

/* Dropdowns */
div[data-garden-container-id='containers.combobox'] {
  color: #000;
  background-color: #F6EFE7;
  border: 1px solid #000;
  transition: outline-width 0.15s ease-in-out;
}

div[data-garden-container-id='containers.combobox']:hover {
  color: #000;
  background-color: #F6EFE7;
  outline: 2px solid #BD96CE;
  outline-offset: 0px;
}

div[data-garden-container-id='containers.combobox']:focus {
  color: #000;
  outline: 2px solid #BD96CE;
  outline-offset: 0px;
  background-color: #EFE3F4;
  box-shadow: none;
}

div[data-garden-id='dropdowns.combobox.trigger']:focus-within {
  color: #000 !important;
  outline: 2px solid #BD96CE !important;
  outline-offset: 0px !important;
  background-color: #EFE3F4 !important;
  box-shadow: none !important;
}

div[data-garden-id='tags.tag_view'] {
  background-color: #FFEACB;
  border: 1px solid #F7D282;
  font-weight: 400;
}

div[data-garden-id='tags.tag_view']:hover {
  background-color: #FDF4E2;
  border: 1px solid #F7D282;
  font-weight: 400;
}

button[data-garden-id='tags.close'] {
  color: #000;
}

svg[data-garden-id='dropdowns.combobox.input_icon'] {
  color: #000;
}

/* Hidden Form Fields */
#request_custom_fields_12980609250575_label,
#request_custom_fields_12980609250575 {
  display: none;
}

/* ============================================
   TABLES
   ============================================ */

.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
}

@media (min-width: 768px) {
  .table {
    table-layout: auto;
  }
}

.table th,
.table th a {
  color: lighten($text_color, 20%);
  font-size: 13px;
  text-align: left;
}

[dir=rtl] .table th,
[dir=rtl] .table th a {
  text-align: right;
}

.table tr {
  border-bottom: 1px solid #ddd;
  display: block;
  padding: 20px 0;
}

@media (min-width: 768px) {
  .table tr {
    display: table-row;
  }
}

.table td {
  display: block;
}

@media (min-width: 768px) {
  .table td {
    display: table-cell;
  }
}

@media (min-width: 768px) {
  .table td,
  .table th {
    padding: 10px 20px;
    height: 60px;
  }
}

@media (min-width: 1024px) {
  .table td,
  .table th {
    padding: 20px 30px;
  }
}

/* ============================================
   SEARCH
   ============================================ */

.search-container {
  position: relative;
}

.search {
  border: 1px solid #000;
  border-radius: 4px;
  display: flex;
  position: relative;
  transition: outline-width 0.15s ease-in-out;
}

.search:hover {
  border: 1px solid #000;
  outline: 2px solid #BD96CE;
  outline-offset: 0px;
}

.search:focus-within {
  border: 1px solid #000;
  outline: 2px solid #BD96CE;
  outline-offset: 0px;
}

.search input[type=search],
.search .clear-button {
  background-color: #F6EFE7;
  border-radius: 4px;
  border: none;
}

.search-full input[type=search],
.search-full .clear-button {
  border-color: #fff;
}

.search input[type=search] {
  appearance: none;
  -webkit-appearance: none;
  box-sizing: border-box;
  color: #666;
  flex: 1 1 auto;
  height: 52px;
  width: 100%;
}

.search input[type=search]::placeholder {
  color: #000;
}

.search input[type=search]:focus {
  color: #000;
  background-color: #EFE3F4;
}

.search input[type=search]::-webkit-search-decoration,
.search input[type=search]::-webkit-search-cancel-button,
.search input[type=search]::-webkit-search-results-button,
.search input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.search input[type=search]:-webkit-autofill,
.search input[type=search]:-webkit-autofill:hover,
.search input[type=search]:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
}

.search .clear-button {
  align-items: center;
  box-sizing: border-box;
  color: #777;
  cursor: pointer;
  display: none;
  flex: none;
  justify-content: center;
  padding: 0 15px;
}

.search .clear-button:hover {
  background-color: $brand_color;
  color: #fff;
}

.search .clear-button:focus {
  outline: 0;
  box-shadow: 0 0 0 3px $brand_color;
}

.search-has-value .clear-button {
  display: flex;
}

[dir=ltr] .search input[type=search] {
  padding-left: 46px;
  padding-right: 16px;
}

[dir=ltr] .search-has-value input[type=search] {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right-color: transparent;
}

[dir=ltr] .search-has-value input[type=search]:focus {
  border-right-color: $brand_color;
}

[dir=ltr] .search .clear-button {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-left-color: transparent;
}

[dir=ltr] .search .clear-button:focus {
  border-left-color: $brand_color;
}

[dir=rtl] .search input[type=search] {
  padding-left: 20px;
  padding-right: 40px;
}

[dir=rtl] .search-has-value input[type=search] {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-left-color: transparent;
}

[dir=rtl] .search-has-value input[type=search]:focus {
  border-left-color: $brand_color;
}

[dir=rtl] .search .clear-button {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right-color: transparent;
}

[dir=rtl] .search .clear-button:focus {
  border-right-color: $brand_color;
}

.search-icon {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  left: 16px;
  z-index: 1;
  width: 16px;
  height: 16px;
  color: #000;
  pointer-events: none;
}

[dir=rtl] .search-icon {
  left: auto;
  right: 16px;
}

/* ============================================
   HEADER & NAVIGATION
   ============================================ */

.header,
.header-support,
.header-team {
  margin: 0 auto;
  padding: 32px;
  position: relative;
}

.header {
  background-color: #2E474B;
}

.header-support {
  background-color: #1A3A2D;
}

.header-team {
  background-color: #2C2B3B;
}

@media (max-width: 1160px) {
  .header,
  .header-support,
  .header-team {
    padding: 24px;
    width: 100%;
  }
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-nav-header,
.search-nav-header-team,
.search-nav-header-support {
  padding: 40px 24px;
}

.search-nav-header {
  background-color: #2E474B;
}

.search-nav-header-team {
  background-color: #2C2B3B;
}

.search-nav-header-support {
  background-color: #1A3A2D;
}

.search-nav-header .search-container,
.search-nav-header-team .search-container,
.search-nav-header-support .search-container {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.logo img {
  max-height: 96px;
  vertical-align: middle;
}

@media (max-width: 1024px) {
  .logo img {
    max-height: 48px;
    vertical-align: middle;
  }
}

.logo span {
  margin: 0 10px;
  color: $brand_color;
}

.logo a {
  display: inline-block;
}

.logo a:hover,
.logo a:focus,
.logo a:active {
  text-decoration: none;
}

.user-nav {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .user-nav {
    position: relative;
  }
}

.user-nav[aria-expanded=true] {
  background-color: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #ddd;
  right: 0;
  left: 0;
  top: 71px;
  z-index: 1;
}

.user-nav[aria-expanded=true] > a {
  display: block;
  margin: 20px;
}

.user-nav[aria-expanded=true] > .user-nav-list li {
  display: block;
}

.user-nav[aria-expanded=true] > .user-nav-list a {
  display: block;
  margin: 20px;
}

.user-nav-list {
  display: block;
  list-style: none;
  color: #FFF;
}

.user-nav-list > li {
  display: inline-block;
}

a.sign-in {
  color: #FFF !important;
}

a.sign-in:hover {
  color: #FFF !important;
  text-decoration: none;
}

.nav-wrapper-desktop {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

@media (max-width: 768px) {
  .nav-wrapper-desktop {
    display: none;
  }
}

@media (min-width: 768px) {
  .nav-wrapper-desktop {
    display: none;
  }
}

@media (min-width: 1024px) {
  .nav-wrapper-desktop {
    display: flex;
  }
}

.nav-wrapper-desktop a {
  border: 0;
  color: $link_color;
  display: none;
  font-size: 14px;
  padding: 0 20px 0 0;
  width: auto;
}

@media (min-width: 768px) {
  .nav-wrapper-desktop a {
    display: inline-block;
  }
}

[dir=rtl] .nav-wrapper-desktop a {
  padding: 0 0 0 20px;
}

.nav-wrapper-desktop a:hover,
.nav-wrapper-desktop a:focus,
.nav-wrapper-desktop a:active {
  background-color: transparent;
  color: $link_color;
  text-decoration: underline;
}

@media (min-width: 1024px) {
  .nav-wrapper-mobile {
    display: none;
  }
}

.nav-wrapper-mobile .menu-button-mobile {
  background: none;
  border: 0;
  width: auto;
  min-width: 71px;
  cursor: pointer;
}

.nav-wrapper-mobile .menu-button-mobile .icon-menu {
  padding: 7px;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.nav-wrapper-mobile .menu-button-mobile[aria-expanded=true] .icon-menu {
  background: #f3f3f3;
}

.nav-wrapper-mobile .menu-list-mobile {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.15);
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  right: 0;
  left: 0;
  top: 71px;
  z-index: 2;
}

.nav-wrapper-mobile .menu-list-mobile[aria-expanded=false] {
  display: none;
}

.nav-wrapper-mobile .menu-list-mobile[aria-expanded=true] {
  display: block;
}

.nav-wrapper-mobile .menu-list-mobile-items .item {
  margin: 4px 0;
}

.nav-wrapper-mobile .menu-list-mobile-items li:empty:not(.nav-divider) {
  display: none;
}

.nav-wrapper-mobile .menu-list-mobile-items .nav-divider {
  border-bottom: 0.1px solid #ddd;
  padding: 0;
}

.nav-wrapper-mobile .menu-list-mobile-items .nav-divider:last-child {
  display: none;
}

.nav-wrapper-mobile .menu-list-mobile-items button {
  background: none;
  border: none;
  padding: 8px 24px;
  width: 100%;
  height: 100%;
  color: $text_color;
  cursor: pointer;
  text-align: start;
}

.nav-wrapper-mobile .menu-list-mobile-items button:active,
.nav-wrapper-mobile .menu-list-mobile-items button:focus,
.nav-wrapper-mobile .menu-list-mobile-items button:hover {
  background-color: #f3f3f3;
  text-decoration: underline;
}

.nav-wrapper-mobile .menu-list-mobile-items a {
  display: block;
  padding: 8px 24px;
  width: 100%;
  height: 100%;
  color: $text_color;
}

.nav-wrapper-mobile .menu-list-mobile-items a:active,
.nav-wrapper-mobile .menu-list-mobile-items a:focus,
.nav-wrapper-mobile .menu-list-mobile-items a:hover {
  background-color: #f3f3f3;
}

.nav-wrapper-mobile .menu-list-mobile-items .my-profile {
  display: flex;
  line-height: 1.5;
}

.nav-wrapper-mobile .menu-list-mobile-items .my-profile .my-profile-tooltip {
  font-size: 12px;
  color: #68737D;
}

.nav-wrapper-mobile .menu-list-mobile-items .menu-profile-avatar {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
  margin-top: 1px;
}

[dir=rtl] .nav-wrapper-mobile .menu-list-mobile-items .menu-profile-avatar {
  margin-right: 0;
  margin-left: 8px;
}

.nav-wrapper-mobile svg {
  color: #FFF;
}

.skip-navigation {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  font-size: 14px;
  justify-content: center;
  left: -999px;
  margin: 20px;
  padding: 20px;
  overflow: hidden;
  position: absolute;
  top: auto;
  z-index: -999;
}

[dir=rtl] .skip-navigation {
  left: initial;
  right: -999px;
}

.skip-navigation:focus,
.skip-navigation:active {
  left: auto;
  overflow: auto;
  text-align: center;
  text-decoration: none;
  top: auto;
  z-index: 999;
}

[dir=rtl] .skip-navigation:focus,
[dir=rtl] .skip-navigation:active {
  left: initial;
  right: auto;
}

#zd-modal-container ~ .skip-navigation {
  display: none;
}

/* User Info */
.user-info {
  display: inline-block;
}

.user-info .dropdown-toggle::after {
  display: none;
}

@media (min-width: 768px) {
  .user-info .dropdown-toggle::after {
    display: inline-block;
  }
}

.user-info > button {
  border: 0;
  color: #FFF;
  min-width: 0;
  padding: 0;
  white-space: nowrap;
  gap: 8px;
  display: flex;
  align-items: center;
}

.user-info > button:hover,
.user-info > button:focus {
  color: #FFF;
  background-color: transparent;
  text-decoration: underline;
}

.user-info > button::after {
  color: #FFF;
  padding-right: 15px;
}

[dir=rtl] .user-info > button::after {
  padding-left: 15px;
  padding-right: 0;
}

#user #user-name {
  display: none;
  font-size: 14px;
}

@media (min-width: 768px) {
  #user #user-name {
    display: inline-block;
  }
}

#user #user-name:hover {
  text-decoration: underline;
}

/* User Avatar */
.user-avatar {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  border: 2px solid #E0B05A;
}

.avatar {
  display: inline-block;
  position: relative;
}

.avatar img {
  height: 48px;
  width: 48px;
}

.avatar .icon-agent {
  color: $brand_color;
  border: 2px solid #fff;
  border-radius: 50%;
  bottom: -4px;
  background-color: $brand_text_color;
  font-size: 17px;
  height: 17px;
  line-height: 17px;
  position: absolute;
  right: -2px;
  text-align: center;
  width: 17px;
}

/* ============================================
   HERO SECTIONS
   ============================================ */

.hero,
.hero-support,
.hero-team {
  height: 300px;
  padding: 0 20px;
  text-align: center;
  width: 100%;
  border-bottom: 4px solid #DFAD53;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.hero {
  background: linear-gradient(0deg, rgba(46, 71, 75, 0.00) 50%, #2E474B 100%), url($homepage_background_image) lightgray 50% / cover no-repeat;
}

.hero-support {
  background: linear-gradient(0deg, rgba(26, 58, 45, 0.00) 50%, rgba(26, 58, 45, 1) 100%), url($assets-marble-34-jpg) lightgray 50% / cover no-repeat;
}

.hero-team {
  background: linear-gradient(0deg, rgba(44, 43, 59, 0.00) 50%, rgba(44, 43, 59, 1) 100%), url($assets-marble-25-jpg) lightgray 50% / cover no-repeat;
}

.hero-inner {
  width: 100%;
  max-width: 1160px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 40px;
}

.search-header {
  color: var(--universal-palette-white, #FFF);
  text-align: center;
  font-family: var(--typography-family-display, Recoleta);
  font-size: var(--typography-size-display-display-xl, 56px);
  font-style: normal;
  font-weight: 600;
  line-height: var(--typography-line-height-display-display-xl, 58px);
  letter-spacing: -0.336px;
}

/* ============================================
   PAGE LAYOUT COMPONENTS
   ============================================ */

.page-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0;
}

@media (min-width: 768px) {
  .page-header {
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    margin: 0;
  }
}

.page-header .section-subscribe {
  flex-shrink: 0;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .page-header .section-subscribe {
    margin-bottom: 0;
  }
}

.page-header h1 {
  flex-grow: 1;
  margin-bottom: 10px;
}

.page-header-description {
  font-style: italic;
  margin: 0 0 30px 0;
  word-break: break-word;
}

@media (min-width: 1024px) {
  .page-header-description {
    flex-basis: 100%;
  }
}

.page-header .icon-lock {
  height: 20px;
  width: 20px;
  position: relative;
  left: -5px;
  vertical-align: baseline;
}

.sub-nav {
  align-items: baseline;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px 30px;
  justify-content: space-between;
  margin-bottom: 55px;
}

@media (min-width: 768px) {
  .sub-nav {
    flex-direction: row;
  }
}

.sub-nav .breadcrumbs {
  margin: 0;
}

.sub-nav .search-container {
  max-width: 100%;
  width: 100%;
}

@media (min-width: 768px) {
  .sub-nav .search-container {
    flex: 0 1 300px;
  }
}

.sub-nav input[type=search]::after {
  font-size: 15px;
}

/* ============================================
   BREADCRUMBS
   ============================================ */

.breadcrumbs {
  margin: 0 0 15px 0;
  padding: 0;
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  flex-direction: row;
}

@media (min-width: 768px) {
  .breadcrumbs {
    margin: 0;
  }
}

.breadcrumbs li {
  color: #000;
  font-size: 1rem;
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.breadcrumbs li + li::before {
  content: ">";
  margin: 0 4px;
}

.breadcrumbs li a:visited {
  color: #000;
}

/* ============================================
   BLOCKS & CARDS
   ============================================ */

.section {
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .section {
    margin-bottom: 40px;
  }
}

.home-section h2 {
  margin-bottom: 10px;
  text-align: center;
}

.knowledge-base section {
  margin-bottom: 40px;
}

.blocks-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
}

@media (min-width: 768px) {
  .blocks-list {
    margin: 0 -15px;
  }
}

.blocks-item {
  box-sizing: border-box;
  color: $brand_color;
  display: flex;
  align-items: flex-end;
  flex: 1 0 340px;
  margin: 0 0 30px;
  max-width: 100%;
  text-align: left;
  background: #FFEACB;
  border-radius: 4px;
  transition: outline-width 0.12s ease-in-out;
  height: 160px;
}

@media (min-width: 768px) {
  .blocks-item {
    margin: 0 15px 30px;
  }
}

.blocks-item:hover,
.blocks-item:focus,
.blocks-item:active {
  outline: 2px solid #BD96CE;
}

.blocks-item:hover *,
.blocks-item:focus *,
.blocks-item:active * {
  color: #000000;
  text-decoration: none;
}

.blocks-item-internal {
  background-color: transparent;
  border: 1px solid #ddd;
}

.blocks-item-internal .icon-lock {
  height: 15px;
  width: 15px;
  bottom: 5px;
  position: relative;
}

.blocks-item-internal a {
  color: $text_color;
}

.blocks-item-link {
  color: $brand_color;
  padding: 16px 16px;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-end;
  border-radius: inherit;
  height: 100%;
  text-decoration: none;
}

.blocks-item-link:visited,
.blocks-item-link:hover,
.blocks-item-link:active {
  color: inherit;
  text-decoration: none;
}

.blocks-item-link:focus {
  outline: 0;
  box-shadow: 0 0 0 3px $brand_color;
  text-decoration: none;
}

.blocks-item-title {
  font-family: 'Recoleta';
  font-weight: 600;
  margin-bottom: 0;
  font-size: 28px;
}

.blocks-item-description {
  margin: 0;
}

.blocks-item-description:not(:empty) {
  margin-top: 0px;
}

/* Resource Cards */
.resource-cards {
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 8px;
}

.card-link {
  width: calc(33% - 5.33px);
  text-decoration: none;
  color: inherit;
  display: block;
  transition: outline-width 0.2s ease;
  border-radius: 4px;
}

.card-link:hover {
  outline: 2px solid #BD96CE;
}

.card-link:focus {
  outline: 2px solid #BD96CE;
  outline-offset: 0px;
}

.resource-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 180px;
  padding: 16px;
  border-radius: 4px;
  background-color: #ffeacb;
  width: 100%;
}

@media (max-width: 640px) {
  .resource-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: fit-content;
    padding: 16px;
    border-radius: 4px;
    background-color: #ffeacb;
    width: 100%;
    justify-content: flex-start;
    gap: 8px;
  }

  .card-icon {
    width: 24px;
    height: 24px;
    margin-top: 4px;
  }
}

.card-header {
  margin-bottom: 8px;
}

.card-icon {
  width: 24px;
  height: 24px;
  margin-bottom: 8px;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.card-title {
  font-family: "Recoleta", sans-serif;
  font-size: clamp(1.6rem, 4vw, 2rem);
  font-weight: 600;
  color: #000;
  line-height: 33px;
  margin: 0;
}

.card-description {
  font-family: "SF Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  line-height: 20px;
  margin: 0;
}

@media (max-width: 991px) {
  .resource-cards {
    max-width: 991px;
  }

  .card-link {
    width: calc(33% - 5.33px);
  }
}

@media (max-width: 640px) {
  .resource-cards {
    max-width: 640px;
    flex-direction: column;
  }

  .card-link {
    width: 100%;
  }
}

.card-header svg {
  width: clamp(1.6rem, 4vw, 2.0rem);
  height: clamp(1.6rem, 4vw, 2.0rem);
}

/* ============================================
   FOOTER
   ============================================ */

.footer {
  width: 100%;
  color: #000;
}

.acknowledgment-banner {
  width: 100%;
  margin: 0 auto;
  padding: 48px 32px;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.15px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.main-footer {
  display: flex;
  width: 100%;
  max-width: 1160px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-end;
  gap: 128px;
  border-top: 1.5px solid #000;
}

@media (max-width: 1160px) {
  .main-footer {
    padding: 24px;
  }
}

.header-container {
  display: flex;
  align-items: center;
  align-self: stretch;
  width: 100%;
}

.logo-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
  flex: 1 0 0;
}

.nav-link {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.175px;
  text-decoration: none;
  cursor: pointer;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
  width: 100%;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  font-style: normal;
}

.address,
.hours,
.phone,
.fax {
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.15px;
  margin-block: 0;
}

.phone-container {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.email {
  color: #000;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.15px;
  text-decoration: underline;
}

.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 8px;
}

.social-icons {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.social-link {
  text-decoration: none;
}

.social-icon {
  width: 20px;
  height: 20px;
}

.copyright {
  color: #000;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.15px;
}

.legal-links {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 16px;
}

.legal-link {
  color: #000;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.15px;
  text-decoration: underline;
}

.crisis-banner {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  padding: 48px 16px;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.15px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

@media (max-width: 991px) {
  .navigation {
    gap: 16px;
  }

  .footer-content {
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
  }

  .footer-right {
    align-items: flex-start;
  }
}

@media (max-width: 640px) {
  .main-footer {
    gap: 64px;
  }

  .header-container {
    justify-content: left;
  }

  .navigation {
    display: none;
  }

  .footer-content {
    gap: 24px;
  }

  .phone-container {
    flex-direction: column;
    gap: 8px;
  }

  .legal-links {
    flex-direction: column;
    align-items: flex-start;
  }
}

.powered-by-zendesk a,
.powered-by-zendesk a:visited {
  color: lighten($text_color, 20%);
}

/* ============================================
   ARTICLES & CONTENT
   ============================================ */

.article {
  flex: 1 0 auto;
}
